:root {
  --color: rgb(255, 220, 154);
  --white: white;
  --gray: gray;
  --black: black;
  --light-gray: #efefef;
  --server: #ffbbbb;
}

* {
  margin: 0;
}

body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}

#form {
  display: none;
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

input {
  border: 1px solid var(--gray);
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 5px;
  margin: 0.25rem;
}

input:focus {
  outline: none;
}

#form > button {
  background: var(--color);
    border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 5px;
  outline: none;
  color: var(--black);
}

#messages {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 80%;
}

#messages > li > .content {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: var(--light-gray);
  width: fit-content;
}

#messages > .me > .content {
  background: var(--color);
}

#messages > .me {
  text-align: right;
}

#messages > .server > .content {
  background: var(--server) ;
}

.sender {
  font-weight: bold;
}

#messages > .me {
  align-items: flex-end;
  position: absolute;
  right: 0px;
}

#messages > li {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

#popup {
  position: fixed;
  left: 25%;
  top: 5%;
  margin: auto;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  outline: 3px solid var(--gray);
}

#popup h2, h3,
button, #name {
  text-align: center;
  max-width: max-content;
  margin: 0.5rem;
}


.date {
  margin: 0.3rem;
  color: var(--gray);
}

header {
  display: none;
  width: 100%;
  height: fit-content;
  background-color: var(--color);
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  flex-direction: column;
}

header h1 {
  font-size: 2rem;
  margin: 0.2rem;
  color: var(--black);
} 

header h2 {
  font-size: 1.5rem;
  margin: 0.2rem;
  color: var(--black);
}